<?xml version="1.0" encoding="UTF-8" ?>
<templates xml:space="preserve">

    <t t-name="awesome_owl.playground">
        <div class="p-3">
            <Card title="cardOneTitleEscaped" text="'content of card 1'"/>
<!--                <button>Test</button>-->
<!--            </Card>-->
<!--            <Card title="cardTwoTitleEscaped" text="'content of card 2'"/>-->
<!--            <Counter onChange="incrementSum"/>-->
<!--            This is displaying a value <t t-esc="sum.value"/>-->
            <TodoList/>
        </div>
    </t>

</templates>
